// Your Sass goes here...
$fontStack: Helvetica, sans-serif;
$lightGray: rgb(196, 196, 196);
$darkBlue: #435b8d; 

@mixin standardBorder($standardBorder: $lightGray) {
    border: 1px solid $standardBorder;
    border-radius: 3px;
}

body {
    font: 100% $fontStack;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 15px 0px;
}

#mount {
    @include standardBorder();
}
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
tr:hover {background-color: #ddd;}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $darkBlue;
    color: white;
  }

.title {
    border-bottom: 1px solid $lightGray;
    padding-left: 20px;
    height: 30px;
}

.content {
    padding-left: 20px;
}

.buttonCell {
    margin: 0 auto;
    padding: 9px;
    display: inline-block;
}

.deleteButton {
    background: red;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 5px;
    float: right;
}

.weatherData {
    height: 80px;
}

.error {
    color: red;
}


.inputContainer {
    max-width: 353px;
    height: 90px;
    margin-top: 25px;
}

label, p {
    font-size: 14px;
}


button {
    color: white;
    background-color: #435b8d;
    padding: 8px 14px;
    border-radius: 20px;
    border-width: 0;
    margin: 5px;
}

input {
    @include standardBorder();
    width: 100%;
    height: 30px;
}

.invalidInput {
    @include standardBorder($standardBorder: Red);
}